<o-column>
  <o-row>
    <div fxFlex>
      <o-list #list attr="userList" service="users" entity="user" keys="USER_"
        columns="USER_;PASSWORD;NAME;SURNAME;EMAIL;NIF;USERBLOCKED;LASTPASSWORDUPDATE;FIRSTLOGIN" 
        delete-button="no" quick-filter-columns="USER_;NAME">
        <mat-card *ngFor="let rowData of list.dataArray" [o-list-item]="rowData">
          <mat-card-header>
            <mat-card-title>{{'USERNAME' | oTranslate}}: {{ rowData.USER_ }}</mat-card-title>
            <mat-card-subtitle>{{'NAME' | oTranslate}}:  {{ rowData.NAME }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>{{'PASSWORD' | oTranslate}}: {{ rowData.PASSWORD }}</mat-card-content>
        </mat-card>
      </o-list>
    </div>
  </o-row>
</o-column>